<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>CryptoScrum</title>
    <meta name="author" content="Eva Sánchez Guerrero">
    <meta name="description" content="Simple product backlog management tool to demonstrate CryptoScrum">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Also include jQueryUI -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="module" src="js\jquerystuff.js"></script>


</head>
<body class="text-center">
<div class="container-fluid">
  <div class="row"> 
    <div class="col-sm">
      <!-- <h1>CryptoScrum</h1> -->
      <!-- metemos navbar-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">CryptoScrum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Save Data</a>
                <a class="dropdown-item" href="#">Reset to Sample Data</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">About</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <!-- fin navbar-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm py-4" id="sprintsDiv">
      <div class="row">
        <div class="col-sm">
          <h4>Sprints</h4>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary" id="addSprintBtn">Add Sprint</button>
        </div>
      </div>
      <div class="row">
        <div class="col" id="sprintsList">
          <!-- here we will insert one card for each sprint -->
        </div>
      </div>
    </div>
    <div class="col-6 py-4" id="selectedSprintDiv">
      <div class="row">
        <div class="col-sm">
          <h4>Selected Sprint</h4>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary" id="acceptSprintBtn">Accept Sprint</button>
          <button type="button" class="btn btn-primary" id="failSprintBtn">Fail Sprint</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm" id="selectedSprintDivItems">
          <!-- here we will insert the stories from the selected sprint-->
        </div>
      </div>
    </div>
    <div class="col py-4" id="productBacklogDiv">
      <div class="row">
        <div class="col-sm">
          <h4>Product Backlog</h4>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary" id="addStoryBtn">Add User Story</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm" id="backlogUserStoriesList">
          <!-- Here we will insert user stories-->
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-sm">
    <button type="button" class="btn btn-primary mt-4" id="saveDataBtn">Save Data</button>
    <button type="button" class="btn btn-primary mt-4" id="resetDataBtn">Reset to Sample Data</button>    
  </div>
</div>
</div>

<!-- Modal to edit Product Backlog Stories -->
<div class="modal fade" id="editStoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User Story</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form starts here-->
        <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="storyName">Story Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="backlogFormStoryName" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="priority">Priority:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="backlogFormPriority" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="storyPoints">Story Points:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="backlogFormStoryPoints" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="status">Status:</label>
          <div class="col-sm-10">
            <select class="form-control" id="backlogFormStatus" name="status">
              <option value="not allocated">not allocated</option>
              <option value="cancelled">cancelled</option>
            </select>
          </div>
        </div>
        </form>
      <!-- form ends here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="backlogStorySaveBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- End of Modal to edit product backlog item-->



<!-- Modal to edit Sprint-->

<div class="modal fade" id="editSprintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Sprint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form starts here-->
        <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="sprintId">Sprint Id:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="sprintFormSprintId" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="sprintDate">Sprint Date:</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="sprintFormSprintDate" name="sprintDate">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="status">Status:</label>
          <div class="col-sm-10">
            <select class="form-control" id="sprintFormStatus" name="status">
              <option value="not allocated">not started</option>
              <option value="planning">planning</option>
              <option value="in progress">in progress</option>
              <option value="successful">successful</option>
              <option value="failed">failed</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="productOwner">Product Owner:</label>
          <div class="col-sm-10">
            <select class="form-control" id="sprintFormProductOwner" name="productOwner">
              <option value="Eva">Eva</option>
              <option value="Pedro">Pedro</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="bounty">Bounty (in mBTC):</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="sprintFormBounty" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="sponsorWallet">Wallet:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="sprintFormSponsorWallet" placeholder="jQuery will fill this">
          </div>
        </div>
        </form>
      <!-- form ends here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sprintSaveBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- End of Modal to edit Sprint -->

<!-- Modal to edit Selected Backlog User Story -->

<div class="modal fade" id="editSelectedSprintUserStoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User Story</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form starts here-->
        <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="storyId">Story Id:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="selectedSprintStoryFormStoryId" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="storyName">Story Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="selectedSprintStoryFormStoryName" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="priority">Priority:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="selectedSprintStoryFormPriority" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="storyPoints">Story Points:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="selectedSprintStoryFormStoryPoints" placeholder="jQuery will fill this">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="teamMember">Team Member:</label>
          <div class="col-sm-10">
            <select class="form-control" id="selectedSprintTeamMember" name="teamMember">
              <option value="Eva">Carla</option>
              <option value="Luis">Luis</option>
              <option value="Lola">Lola</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="status">Status:</label>
          <div class="col-sm-10">
            <select class="form-control" id="selectedSprintStoryFormStatus" name="status">
              <option value="not allocated">not started</option>
              <option value="in progress">in progress</option>
              <option value="successful">approved</option>
              <option value="failed">failed</option>
            </select>
          </div>
        </div>
        </form>
      <!-- form ends here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="selectedSprintStorySaveBtn">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- End Modal to edit Selected Backlog User Story -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js" crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>



</body>
</html>
